# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Virtual Environments
venv/
.venv/
env/
ENV/

# Configuration and Secret Matrices
.env
.env.local
.env.*.local

# Local Database Engines & Logs
*.db
*.sqlite3
*.log

# Editor IDE Metadata configurations
.vscode/
.idea/
.DS_Store