version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: itsyar-postgres
    environment:
      POSTGRES_USER: itsyar
      POSTGRES_PASSWORD: itsyar_secret
      POSTGRES_DB: itsyar_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
=======


